/*LO IN PAGE STYLE*/

.logosection {
    display: grid;
    place-items: center;
    background-color: white;
    width: 500px;
    height: 220px;
}

.inline-container1 {
    display: flex; 
    align-items: center;
}

.inline-container2 {
    display: flex;
    align-items: center;
}

Label {
    margin-right: 10px;
}
.logopanel {
    display: grid;
    place-items: center;
    background-color: white;
    width: 500px;
    height: 500px;
}
.loginbutton {
    padding: 5px 0;
    display: grid;
    place-items: center;
    background-color: white;
    width: 500px;
    height: 50px;
}

/*END OF LOGIN PAGE STYLE*/

