.main {
    background-color: white;
    width: 1500px;
    height: 900px;
    position: absolute;
    top: 15%;
    left: 14%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

.titlediv {
    background-color: rgb(255, 128, 0);
    width: 800px;
    height: 80px;
    position: absolute;
    top: 10%;
    left: 20%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    display: grid;
    place-items: center;
}

.menubuttons {
    background-color: rgb(255, 128, 0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    width: 1000px; /* Adjusted width */
    height: 500px;
    position: absolute;
    top: 25%;
    left: 20%; /* Adjusted left position */
    align-items: center; /* Aligns items vertically */
    justify-items: center; /* Aligns items horizontally */
}

.buttonpanels {
    background-color: green;
    width: 320px;
    height: 100px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    display: grid;
    place-items: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
